@model MemberLoginSSRS.ViewModels.ReportEditVM
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Report</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        @*Fields removed for brevity.*@
        <div class="form-group">
            @Html.LabelFor(model => model.SsrsServerUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SsrsServerUrl)
                @Html.ValidationMessageFor(model => model.SsrsServerUrl)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Path, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Path)
                @Html.ValidationMessageFor(model => model.Path)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SelectedRoles, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SelectedRoles, Model.RoleSelectList, new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.SelectedRoles)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SelectedCategories, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.SelectedCategories, Model.CategorySelectList, new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.SelectedCategories)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("select").chosen();
    </script>
}
